<ng-container *ngIf="!auth.isAuthenticated()">
  <a class="mr-6" href="https://accounts.spotify.com/authorize?client_id=c48c47f5403e4409bcfe36f3c117d852&response_type=token&redirect_uri=http://localhost:4200/player/callback&state=aaa&scope=streaming+user-read-email+user-modify-playback-state+user-read-private&show_dialog=true">spotify login</a>
</ng-container>
<ng-container *ngIf="auth.isAuthenticated()">
  <button (click)="auth.logout()">logout</button>
  <button (click)="play()">play</button>
</ng-container>
