<div class="w-screen h-screen">
  <header class="flex items-center flex-wrap justify-between p-6 bg-emerald-400">
    <div class="flex items-center flex-shrink-0 mr-6">
      <span class="text-xl">player</span>
    </div>
    <div class="w-full block flex-grow flex items-center w-auto">
      <div class="text-sm flex-grow"></div>
      <ng-container *ngIf="!auth.isAuthenticated()">
        <a class="mr-6" href="{{redirectUrl}}">spotify login</a>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated()">
        <button (click)="auth.logout();route.navigate([''])">logout</button>
      </ng-container>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>
